@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

}

/* ################################## Utility Classes ######################################### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 1em 2.5em;
    border-radius: 50px;
    margin-top: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary{
    color: #fff;
    background: rgba(17, 233, 161, 0.877);
}

/* ################################ Navbar ################################################ */
/* ######################### Disktop ################################ */
.navbar{
    /* border: 2px solid red; */
    box-shadow: 0px 10px 10px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    opacity: 0.70;
    z-index: 999;
}

.navbar-container{
    /* border: 6px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.navbar-container input[type="checkbox"],
.navbar-container .lines{
    display: none;
}

.logo h1{
    font-size: 3rem;
}

.menu-items{
    /* border: 2px solid yellow; */
    display: flex;
    margin-top: ;
}

.menu-items li{
    list-style: none;
    margin-left: 1.6rem;
    font-size: 1.8rem;
}

.menu-items li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items li a:hover{
    color: rgb(250, 21, 4);
}

/* ##################################### showcase-Area ######################################### */

.showcase-area{
    /* border: 2px solid red; */
    height: 50vh;
    background: url("../img/header-image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.showcase-container{
    /* border: 4px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    text-transform: uppercase;
}

/* ##################################### About-Us ######################################### */

.about-us{
    /* border: 4px solid red; */
    padding: 50px 0px;
    background: #f5f5f7;
}

.about-container{
    /* border: 4px solid green; */
    display: flex;
}

.about-us h2{
    font-size: 3.2rem;
}

.about-us p{
    font-size: 1.6rem;
    color: #555;
}

.about-us .small{
    font-size: 1.6rem;
    font-weight: 600;
    color: #666;
}

.about-us .about-text{
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
    padding: 50px 100px;
    transform: translateX(-150%);
    animation: about-text-animation 2s ease-in-out forwards;
}

@keyframes about-text-animation{
    100%{
        transform: translateX(0%);
    }
}

.about-us .about-img{
    /* border: 4px solid blue; */
    height: 400px;
    width: 40%;
    transform: translateX(150%);
    animation: about-img-animation 2s ease-in-out forwards;
}

@keyframes about-img-animation{
    100%{
        transform: translateX(0%);
    }
}

.about-img img{
    height: 100%;
    width: 100%;
}

/* ######################### Food ######################################### */

.food{
    /* border: 2px solid red; */
    padding: 5rem 0 10rem 0;
}

.food h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}

.food-container{
    display: flex;
}

.food-container img{
    display: block;
    width: 100%;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.img-container{
    margin: 0 1rem;
    position: relative;
}

.img-content h3{
    /* border: 4px solid black; */
    font-size: 3rem;
    font-weight: 500;
}

.img-content{
    /* border: 4px solid black; */
    position: absolute;
    top: 60%;   
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.img-container:hover .img-content{
    opacity: 1;
    top: 30%;
}

.img-container::after{
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.836);
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.5s ease-in-out;
}

.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}

/* ############################# Food Menu Styling ############################ */

.food-menu-heading{
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    color: #666;
}

.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}

.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description{
    margin: auto 1.3rem;
}

.food-title{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
    text-transform:capitalize;
}

.food-description p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;
}

.food-description .food-price{
    color: #117964;
    font-weight: 700;
}

/* ##################### Testimonials styling ############################### */

.testimonials{
    padding: 5rem 0;
    background: rgb(228, 225, 225);
}

.testimonial-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}

.testimonial-container{
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 1rem;
}

.testimonial-box .checked{
    color: rgb(240, 157, 4);
}

.testimonial-container .testimonial-text{
    margin: 1rem 0;
    color: #444;
}

.testimonial-box{
    text-align: center;
    padding: 1rem;
}

.customer-photo img{
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

/* ######################### Contact Page styling ######################### */

.contact{
    background: rgb(202, 199, 199);
}

.contact-container{
    display: flex;
    padding: 5rem 0;
    justify-content: space-between;
}

.contact-img{
    /* border: 4px solid green; */
    width: 49%;
}

.contact-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contact-form{
    /* border: 4px solid red; */
    width: 49%;
    background: #fff;
    padding: 1rem;
}

.contact-form h2{
    font-size: 3rem;
    font-weight: 400;
    color: #666;
}

.contact-form input{
    font-size: 2rem;
    border: none;
    width: 100%;
    margin-top: 1rem;
    display: block;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
    
}

.contact-form textarea{
    width: 100%;
    font-size: 2rem;
    border: none;
    width: 100%;
    display: block;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
    outline: none;
    color: #444;
    font-weight: 500;
}

.contact-butten{
    text-align: center;
}

#footer h2{
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background-color: rgb(65, 65, 65);
}

/* ########################## Media Queries ################################## */

@media (max-width : 768px){
    .navbar{
        opacity: 0.9;
    }

    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type='checkbox']{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        background: #000;
    }

    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px #aaa;
    }

    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }

    .navbar-container input[type='checkbox']:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    /* ################## Showcase Area ############################ */

    .about-us{
        /* border: 4px solid red; */
        padding: 50px 0px;
        background: #f5f5f7;
    }
    
    .about-container{
        /* border: 4px solid green; */
        display: flex;
        flex-direction: column;
    }
    
    .about-us .about-text{
        /* border: 2px solid red; */
        width: 100%;
    }
    
    .about-us .about-img{
        /* border: 4px solid blue; */
        height: 400px;
        width: 100%;
    }

    /* #################### food category ###################### */

    .food-container{
        flex-direction: column;
    }

    .food-type{
        margin-bottom: 3rem;
        box-shadow: 5px 5px 10px 0px #aaa;
    }

    .img-container{
        margin: 0;
    }

    /* ########################## small screen ######################## */

    @media (max-width : 500px)
    {
        html{
            font-size: 50%;
        }

        .testimonial-container{
            flex-direction: column;
            text-align: center;
        }

        .food-menu-item{
            flex-direction: column;
            text-align: center;
        }

        .food-menu-container img{
            margin: auto;
        }

        .contact-form{
            width: 90%;
        }

        .contact-container{
            display: flex;
            flex-direction: column;
        }

        .contact-img{
            width: 90%;
            height: 40vh;
            margin-bottom: 3rem;
        }




    }

}